# URL Backend API
# Untuk local development: http://localhost:8000
# Untuk server staging/production: https://c307.pens.ac.id
VITE_BACKEND_URL=http://localhost:8000
REACT_APP_BACKEND_URL=http://localhost:8000
